<html>
  <head>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <div>
      <title>Create New Account</title>
      <h1>Create New Account</h1>
      <h4>Creating a new account may take sometime</h4>
    </div>
    <form method="post">
      <h4>Surname: <input name="surname"/></h4>
      <h4>Lastname: <input name="lastname"/></h4>
      <h4>Username: <input name="username"/></h4>
      <h4>Email: <input name="email"/></h4>
      <h4>Password: <input name="password"/></h4>
      <br/><br/>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
